<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 style="color:#7F0101;">Dashboard</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h3 class="card-title m-b-5"><span class="lstick"></span>Practica 2 Redes 1 </h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4>Departamento de Ventas</h4>
                <h4>Grupo No. 20</h4>
                <h6><strong>201801232</strong> JOSÉ RAFAEL MORENTE GONZÁLEZ</h6>
                <h6><strong>201801266</strong> JUAN JOSÉ RAMOS CAMPOS</h6>
                <h6><strong>201807228</strong> GERSON ALEJANDRO BELTETÓN URBINA</h6>
                <h6><strong>201807266</strong> LUIS FERNANDO VELÁSQUEZ ZACARÍAS</h6>
            </div>
        </div>
    </div>
</div>